@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
body{
	background-color: #000;
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
}
a{
color: #fff;	
}
svg{
	fill: #fff;
}
header{
	display: flex;
	align-items: center;
	padding: 20px  50px;
	max-width: 1400px;
	margin: 0 auto;
	height: 40px;
	position: fixed;
	top: 0;
	z-index: 2;
}
header svg{
	width: 140px;
}
header a.logo{
	position: fixed;
	top: 28px;
	left: 50%;
   margin-left: -70px;
}
@media(min-width: 1000px) {
	header svg{
		width: 200px;
	}
	header a.logo{
		margin-right: 40px;
		position: relative;
		top: initial;
		left: initial;
		margin-left: initial;

	}
}
.center-nav{
	display: none;
}
@media(min-width:1003px){
	.center-nav{
		display: block;
	}
}
.center-nav a,.right-nav a{
	text-decoration: none;
	font-size: 15px;
	padding: 0;
	margin: 0 13px;
	position: relative;
}
.center-nav a:before,.right-nav a:before{
content: '';
width: 0;
right: 0;
bottom: -5px;
height: 2px;
background-color: #fff;
position: absolute;
transition: width .2s linear;
}
.center-nav a:hover:before, .right-nav a:hover:before{
	right: initial;
	left: 0;
width: 100%;
}
.right-nav{
position: fixed;
right: 0;
top: 40px;
height: 4px;
display: flex;
align-items: center;
}
.right-nav a{
display: none;
	}  
	@media (min-width:1000px) {
		.right-nav a{
			display: inline-block;
			padding: 0;
			margin: 0 50px;
			}  
	}
.shop-btn{
	position: fixed;
	z-index: 3;
	right: 6px;
	top: 16px;
	color: #fff;
	padding: 20px;
	background-color: transparent;
	cursor: pointer;
	border: 0;
}
.shop-btn span{
	display: block;
	width: 16px;
	margin: 2px 0;
	height: 2px;
	background-color: #fff;
	position: relative;
	transition: all 0.2s linear;
}
.shop-btn.active span:first-child,
 .shop-btn.active span:nth-child(2){
transform: rotate(45deg);

}
.shop-btn.active span:nth-child(2){
	transform: rotate(-45deg);
	top: -4px;
}
.shop-btn.active span:last-child {
opacity: 0;
}
.shadow.active{
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0,0,.3);
	z-index: 1;
}
nav.mobile-nav{
	padding-top: 70px;
    display:block;
    position:fixed;
    top:0;
    right: -280px;
    bottom:0;
    z-index: 2;
    width: 280px;
    background-color:#000;
	transition: right 0.3s ease-in-out;
}
nav.mobile-nav.active{
    right:0;
}
nav.mobile-nav a{
	display: block;
	border-bottom: 1px solid #222;
	padding: 16px 25px;
text-decoration: none;
text-align: right;	
transition: opacity .3s linear;
transition-delay: .2s;

}
nav.mobile-nav.active a{
    opacity:1;
}

nav.mobile-nav a:nth-child(2){transition-delay: .25s;}
nav.mobile-nav a:nth-child(3){transition-delay: .3s;}
nav.mobile-nav a:nth-child(4){transition-delay: .35s;}
nav.mobile-nav a:nth-child(5){transition-delay: .4s;}
nav.mobile-nav a:nth-child(6){transition-delay: .45s;}
nav.mobile-nav a:nth-child(7){transition-delay: .5s;}
nav.mobile-nav a:nth-child(8){transition-delay: .55s;}

section{
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	align-items: flex-end;
}
section div.content-outer{
	flex-grow: 1;
	max-width: 1400px;
	 margin: 0 auto;
	 position: relative;
}
section div.content{
	position: absolute;
	bottom: 15vh;
	left: 50px;
	max-width: 260px;
}
section div.content h2{
	font-size: 48px;
	margin: 0;
}
section div.content h3{
	margin: 0 0 18px;
}
section div.content a{
	border: 1px solid #fff;
	display: inline-block;
	padding: 20px 60px;
	text-decoration: none;
    margin-top: 30px;
}
footer{
	padding: 53px;
	font-size: 12px;
}
footer nav{
	text-align: center;
}
footer nav span{
	color: #777;
	display: inline-block;
	padding-right: 30px;
}
footer nav a{
	padding: 0 20px;
	text-decoration: none;
	transition: color .2s linear;
}
footer nav a:hover{
	color:#aaa;
}